.annotation-control-bar {
  background: $g3-castle;
  height: 64px;
  display: flex;
  padding: 8px 60px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $g2-kevlar;
}

.annotation-control-bar--empty {
  color: $g11-sidewalk;
  font-size: 14px;
  font-weight: 500;
  @include no-user-select();
}
